body {
  background-color: #c5c5c5;
}

box {
  background-color: #e2e2e2;
  padding: 1em;
  margin: 1em;
}

section {
  background-color: slategray;
}

div.content {
  margin-left:3em;
}

section, box, textarea {
  border-radius: 10px;
}

textarea {
  padding: 1em;
  border: none;
  resize: none;
}